# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
.vs/

# Angular
node_modules/
.angular/
dist/
.editorconfig

# IDEs
.vscode/

# Databases
*.db
*.db-shm
*.db-wal

# OS specific
.DS_Store
Thumbs.db
